<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.vpn.manager</string>
	<key>connections</key>
	<dict>
		<key>2CD984EF-1CE0-4DFD-BC28-7AB81B9C9F38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3320B185-EABE-4399-98AB-D93EFA238B86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>866C8BD5-B0A1-48CB-AD45-138BD0BD3F0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B84012A0-E647-44DC-BC60-07B2E545ECDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BD0909C-70CA-44EC-BC40-1AAE4D5924D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E31A93B7-40D3-4DF1-AD3D-0FAFE635B7F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6188BC8-38BD-424B-8976-C0B9763C5C3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4BFC069-A39C-4776-9DA8-546B7F8DB78F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4C1BF71-F959-4077-A780-B07F070F125F</key>
		<array/>
		<key>B84012A0-E647-44DC-BC60-07B2E545ECDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BD0909C-70CA-44EC-BC40-1AAE4D5924D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6188BC8-38BD-424B-8976-C0B9763C5C3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4BFC069-A39C-4776-9DA8-546B7F8DB78F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87A3E9DC-F72A-4DD4-891A-A175CCBDBE4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4C1BF71-F959-4077-A780-B07F070F125F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Manage VPN Connections from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 vpn.py $action "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3320B185-EABE-4399-98AB-D93EFA238B86</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading VPN information…</string>
				<key>script</key>
				<string>/usr/bin/python3 vpn.py list "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Manage VPN Connections</string>
				<key>title</key>
				<string>VPN Connections</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2CD984EF-1CE0-4DFD-BC28-7AB81B9C9F38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpnconf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading apps…</string>
				<key>script</key>
				<string>/usr/bin/python3 vpn.py conf "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose your VPN client</string>
				<key>title</key>
				<string>VPN Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B84012A0-E647-44DC-BC60-07B2E545ECDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>866C8BD5-B0A1-48CB-AD45-138BD0BD3F0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E31A93B7-40D3-4DF1-AD3D-0FAFE635B7F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Using {query}</string>
				<key>title</key>
				<string>Changed VPN App</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>87A3E9DC-F72A-4DD4-891A-A175CCBDBE4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^https?://.+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8BD0909C-70CA-44EC-BC40-1AAE4D5924D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>config</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B4C1BF71-F959-4077-A780-B07F070F125F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$1"
echo "query=$query" &gt;&amp;2
app=$( echo "$query" | cut -d: -f2 )

/usr/bin/python3 vpn.py app "$app"

echo "$app"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E4BFC069-A39C-4776-9DA8-546B7F8DB78F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^app:.+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A6188BC8-38BD-424B-8976-C0B9763C5C3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred-VPN Manager
==================

Manage your Tunnelblick or Viscosity VPN connections.

Requires Viscosity app from https://www.sparklabs.com/viscosity/
or Tunnelblick app from https://tunnelblick.net/</string>
	<key>uidata</key>
	<dict>
		<key>2CD984EF-1CE0-4DFD-BC28-7AB81B9C9F38</key>
		<dict>
			<key>note</key>
			<string>Filter list of available VPNs</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3320B185-EABE-4399-98AB-D93EFA238B86</key>
		<dict>
			<key>note</key>
			<string>Connect/disconnect VPN</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>866C8BD5-B0A1-48CB-AD45-138BD0BD3F0C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>87A3E9DC-F72A-4DD4-891A-A175CCBDBE4C</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8BD0909C-70CA-44EC-BC40-1AAE4D5924D2</key>
		<dict>
			<key>note</key>
			<string>{query} is a URL</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A6188BC8-38BD-424B-8976-C0B9763C5C3F</key>
		<dict>
			<key>note</key>
			<string>{query} is an application</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>B4C1BF71-F959-4077-A780-B07F070F125F</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>B84012A0-E647-44DC-BC60-07B2E545ECDA</key>
		<dict>
			<key>note</key>
			<string>Workflow configuration</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E31A93B7-40D3-4DF1-AD3D-0FAFE635B7F7</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E4BFC069-A39C-4776-9DA8-546B7F8DB78F</key>
		<dict>
			<key>note</key>
			<string>Change VPN application</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>VPN_APP</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>VPN_APP</string>
	</array>
	<key>version</key>
	<string>3.3</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-vpn-manager</string>
</dict>
</plist>
